<div class="m-6">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Netflix Recomendations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Using Dijkstra</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="flex justify-evenly" [formGroup]="filmControl">
            <div class="flex">
              <div class="flex mr-2 align-middle items-center">
                <mat-icon class="icon-size">movie</mat-icon>
              </div>
              <h2 class="flex items-center">First Series/Movie</h2>
              <mat-form-field class="ml-4" appearance="outline">
                <input
                  type="text"
                  placeholder="Pick a film"
                  aria-label="Film"
                  matInput
                  formControlName="first_film"
                  [matAutocomplete]="first_auto"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #first_auto="matAutocomplete"
                >
                  <mat-option
                    *ngFor="let first_film of filteredOptionsFirstFilm | async"
                    [value]="first_film"
                  >
                    {{ first_film }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="flex">
              <div class="flex mr-2 align-middle items-center">
                <mat-icon class="icon-size">movie</mat-icon>
              </div>
              <h2 class="flex items-center">Second Series/Movie</h2>
              <mat-form-field class="ml-4" appearance="outline">
                <input
                  type="text"
                  placeholder="Pick a film"
                  aria-label="Film"
                  matInput
                  formControlName="second_film"
                  [matAutocomplete]="second_auto"
                />
                <mat-autocomplete
                  autoActiveSecondOption
                  #second_auto="matAutocomplete"
                >
                  <mat-option
                    *ngFor="
                      let second_film of filteredOptionsSecondFilm | async
                    "
                    [value]="second_film"
                  >
                    {{ second_film }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </form>
          <div class="flex flex-col justify-center">
            <button
              class="mx-96 my-5"
              mat-raised-button
              color="primary"
              (click)="dijkstraAlgorithm()"
            >
              Search with Dijkstra
            </button>
            <button
              class="mx-96"
              mat-raised-button
              color="primary"
              (click)="loadGraph()"
            >
              Load Graph
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>

<div class="m-6">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Recomendations with Dijkstra</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <table mat-table [dataSource]="dataSource">
          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>
          <!-- Series Or Movie Column -->
          <ng-container matColumnDef="series_or_movie">
            <th mat-header-cell *matHeaderCellDef>Series Or Movie</th>
            <td mat-cell *matCellDef="let element">
              {{ element.series_or_movie }}
            </td>
          </ng-container>
          <!-- Score Column -->
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef>IMDb Score</th>
            <td mat-cell *matCellDef="let element">
              {{ element.score }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="m-6">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Dijkstra Graph</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="activateGraph">
        <app-chart [films]="dijkstra_results"></app-chart>
      </div>
    </mat-card-content>
  </mat-card>
</div>
