.container {
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
  }