<div class="container">
  <div class="column">
    <img [src]="data.poster" alt="Poster" />
  </div>
  <div class="column">
    <h1>{{ data.title }}</h1>
    <p>Genre: {{ data.genre }}</p>
    <p>Type of film: {{ data.series_or_movie }}</p>
    <p>Available languages: {{ data.languages }}</p>
    <p>Score: {{ data.score }}</p>
    <p>Summary: {{ data.summary }}</p>
    <div class="button-container">
      <a [href]="data.netflix_link" target="_blank" class="button-link"
        >Watch on Netflix</a
      >
    </div>
  </div>
</div>
